<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>DayOfBirth</th>
        <th>Point</th>
        <th>Detail</th>
    </tr>
    <tr *ngFor="let student of studentList">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.dateOfBirth}}</td>
        <td>{{student.point}}</td>
        <dt *ngIf="student.point >=9">gioi</dt>
        <dt *ngIf="student.point <9">kha</dt>
        <td></td>
        <td (click)="detailStudent(student)">Detail</td>
    </tr>
</table>
<!-- <app-student-info></app-student-info> -->
<app-student-info [student]="student"></app-student-info>
<app-student-create (submitCreate)="createStudent($event)"></app-student-create>