<h2>Create Student</h2>
<form [formGroup]="studentForm" (ngSubmit)="createStudent()">
    <label>ID</label>
    <input type="text" formControlName="id"><br>
    <div style="color: red" *ngIf="studentForm.controls.id.hasError('required') && studentForm.get('id').dirty">Id not null</div>
    <label>Name</label>
    <input type="text" formControlName="name"><br>
    <label>DayOfBirth</label>
    <input type="date" formControlName="dayOfBirth"><br>
    <label>Point</label>
    <input type="number" formControlName="point"><br>
    <button type="submit">Create</button>
</form>