<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete blog</title>
</head>
<body>
<h2>Are you sure?</h2>
<form th:action="@{/customer/delete}"  th:object="${customer}" th:method="POST">
  <input th:type="hidden" name="id" th:field="*{id}">
  <table class="table">
    <tr>
      <td>Id:</td>
      <td th:text="${customer.id}"></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td th:text="${customer.name}"></td>
    </tr>
    <tr>
      <td>Customer type:</td>
      <td th:text="${customer.customerType.name}"></td>
    </tr>
    <tr>
      <td>Birthday:</td>
      <td th:text="${customer.birthday}"></td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>
        <span th:if="${customer.gender}==false">Female</span>
        <span th:if="${customer.gender}==true">Male</span>
      </td>
    </tr>
    <tr>
      <td>Id card:</td>
      <td th:text="${customer.idCard}"></td>
    </tr>
    <tr>
      <td>
        <button id="clickDeleteCustomer" type="submit" class="btn btn-danger clickDeleteCustomer">Delete</button>
      </td>
    </tr>
  </table>
</form>
</body>
</html>