# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\fileCode\codeGym\A0421I1_HoangNamVuong\Module 3\lesson9_jsp and sevrlet\practice\java_web_currency_converter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
